*_resource.rc
*.pro.user.*
*.pro.user
*.xcodeproj
*.autosave
*.qm
*.o
*.obj
*.rpm
*.dmg
*.deb
*.ddeb
*.dsc
*.changes
*.buildinfo
*.upload

*.tar.gz
*.zip
*.app
*.app.dSYM
*.exe
*.out
*.pdf
*.qch

.qmake.*
.DS_Store
Makefile

.custom/
generated/
objects/
deploy/
doxy/
manpager

